<div class="d-flex justify-content-center align-content-center mt-3 mb-5">
  <div class="border">
    <p class="d-flex justify-content-center mt-3 font-weight-bold">Registration</p>
    <form class="p-5 border-top" [formGroup]="registerForm">
      <div>
        <div>
          <div class="mt-3">Your first name:</div>
          <input class="mt-1"
                 formControlName="firstName"
                 placeholder="first name" appMyAutoFocusDirective>
        </div>
        <div>
          <div class="mt-3">Your last name:</div>
          <input class="mt-1"
                 formControlName="lastName"
                 placeholder="last name">
        </div>
        <div>
          <div class="mt-3">Your email:</div>
          <input class="mt-1"
                 formControlName="email"
                 placeholder="email">
        </div>
        <div>
          <div class="mt-3">Your password:</div>
          <input class="mt-1"
                 formControlName="password1"
                 placeholder="password">
        </div>
        <div>
          <div class="mt-3">Repeat password:</div>
          <input class="mt-1"
                 formControlName="password2"
                 placeholder="password">
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-end">
        <button (click)="registerUser()">Register</button>
      </div>
    </form>
  </div>
</div>
