<div class="p-0 col col-lg-6 mt-3 mb-5 m-auto">
  <div class="list-group-item p-0">
    <p class="d-flex justify-content-center mt-3 font-weight-bold">Editing of {{product.productName}}</p>
    <form class="p-3 border-top" [formGroup]="editProductForm">
      <div>
        <div>
          <div class="mt-3">Product name:</div>
          <input class="mt-1"
                 formControlName="productName">
        </div>

        <div>
          <div class="mt-3">Product description:</div>
          <input class="mt-1"
                 formControlName="productDescription">
        </div>
        <div class="alert alert-danger mt-1"
             *ngIf="editProductForm.controls['productDescription'].invalid
             && editProductForm.controls['productDescription'].touched
&& editProductForm.controls['productDescription'].errors.minLength">
          Product description must be at least 12 characters
        </div>

        <div class="alert alert-danger mt-1"
             *ngIf="editProductForm.controls['productDescription'].invalid
             && editProductForm.controls['productDescription'].touched
&& editProductForm.controls['productDescription'].errors.maxLength
">
          Product description must be no more 100 characters
        </div>

        <div>
          <div class="mt-3">Product brand:</div>
          <input class="mt-1"
                 formControlName="productBrand">
        </div>
        <div class="alert alert-danger mt-1"
             *ngIf="editProductForm.controls['productBrand'].invalid
             && editProductForm.controls['productBrand'].touched
&& editProductForm.controls['productBrand'].errors.maxLength
">
          Product brand must be no more 100 characters
        </div>

        <div>
          <div class="mt-3">Product price:</div>
          <input type="number"
                 min="0"
                 class="mt-1"
                 formControlName="productPrice">
        </div>
        <div class="alert alert-danger mt-1"
             *ngIf="editProductForm.controls['productPrice'].invalid
             && editProductForm.controls['productPrice'].touched
&& editProductForm.controls['productPrice'].errors.pattern
">
          Only Positive digits
        </div>

        <div class="mt-3">
          <label class="btn btn-primary" for="files">Select Image</label>
          {{selectedFilesName}}...
          <input id="files"
                 style="visibility:hidden;"
                 type="file"
                 formControlName="productImg"
                 (change)="onSelectFile($event)">
        </div>


        <div (clickOutside)="onClickedOutsideEditProduct($event)">
          <div class="mt-3 mb-1">Chosen category: <span class="font-weight-bold">{{subCategory}}</span></div>
          <a class="btn btn-primary nav-item nav-link text-decoration-none text-light dropdown-toggle cursor-pointer"
             (click)="toggleEditProduct()">Categories</a>
          <app-dropdown-menu class="add-product" formControlName="productCategory" [isShowCategories]="isEditProduct"
                             [componentName]="'add-product'"></app-dropdown-menu>
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-end">
        <button class="btn btn-primary" [disabled]="!editProductForm.valid" (click)="editProduct()">Edit</button>
      </div>
    </form>
  </div>
</div>
