.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-toggle::after {
  width: 100%;
  margin-left: 1.255em;
  padding-right: 1.255em;
  margin-top: 0.55em;
  border-top: .3em solid transparent;
  border-bottom: .3em solid transparent;
  border-right: 0;
  border-left: .3em solid;
}

.dropdown--menu {
  display: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: deepskyblue;
  text-decoration: none;
  background-color: transparent;
}

.show {
  padding: 10px;
  display: block;
  position: absolute;
  background-color: white;
  border-radius: .25rem;
  -webkit-box-shadow: 2px 5px 17px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 17px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 5px 17px 0 rgba(0, 0, 0, 0.75);
}

ul {
  padding-left: 0;
}

.dropdown-item {
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

ul > li,
ul > li > ul > li {
  display: flex;
  justify-content: flex-start;
}

:host(.add-product) > ul {
  position: relative;
  margin-top: 10px;
  /*background-color: red;*/
}

@media screen and (max-width: 992px) {

  .show {
    display: block;
    position: relative;
    background-color: #5b6871;
    border-radius: .25rem
  }

  .dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }

  ul {
    padding: 0;
  }

  ul > li {
    color: white;
  }

}
