<ul class="dropdown-menu">
  <li class="dropdown-submenu dropdown-item btn">
    <span tabindex="-1" (click)="passCategory('notebooks', 'notebooks')">Notebooks</span>
    <ul class="dropdown-menu">
      <li class="dropdown-item btn" (click)="passCategory('notebooks' ,'lenovo')">Lenovo</li>
      <li class="dropdown-item btn" (click)="passCategory('notebooks','asus')">Asus</li>
      <li class="dropdown-item btn" (click)="passCategory('notebooks','acer')">Acer</li>
    </ul>
  </li>
  <li class="dropdown-submenu dropdown-item btn">
    <span tabindex="-1" (click)="passCategory('smartphones', 'smartphones')">Smartphones</span>
    <ul class="dropdown-menu">
      <li class="dropdown-item btn" (click)="passCategory('smartphones','xiaomi')">Xiaomi</li>
      <li class="dropdown-item btn" (click)="passCategory('smartphones','apple')">Apple</li>
      <li class="dropdown-item btn" (click)="passCategory('smartphones','samsung')">Samsung</li>
    </ul>
  </li>
  <li class="dropdown-item btn" (click)="passCategory('tablets','tablets')">Tablets</li>
</ul>
