<div>
  <nav class="navbar d-flex justify-content-end bg-dark">
    <ul class="list-unstyled d-flex align-content-center p-0 m-0">
      <li class="ml-1 mr-1">
        <a class="nav-item nav-link text-decoration-none text-light" routerLink="" routerLinkActive="active">Main Page</a>
      </li>
      <li class="ml-1 mr-1">
        <a class="nav-item nav-link text-decoration-none text-light" routerLink="login">Login</a>
      </li>
      <li class="ml-1 mr-1">
        <a class="nav-item nav-link text-decoration-none text-light" routerLink="registration">Registration</a>
      </li>
    </ul>
  </nav>
  <div class="d-flex justify-content-center mt-3"><h3>GoodsManagement1.0</h3></div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
