<div class="d-flex justify-content-center align-content-center mt-4">
  <div class="border">
    <p class="d-flex justify-content-center mt-3 font-weight-bold">Login</p>
    <form class="p-5 border-top" [formGroup]="loginForm">
      <div>
        <div>
          <div class="mt-3">Your firstName:</div>
          <input class="mt-1"
                 formControlName="firstName"
                 placeholder="firstName" appMyAutoFocusDirective>
        </div>
        <div>
          <div class="mt-3">Your password:</div>
          <input class="mt-1"
                 formControlName="password"
                 placeholder="password" >
        </div>
      </div>
      <div class="mt-3 d-flex justify-content-end">
        <button (click)="login()" routerLink="main">Login</button>
      </div>
    </form>
  </div>
</div>
