  <ul [class.show]="isShowProfile" class="dropdown--menu">
    <li class="dropdown-submenu d-block text-center pt-1 pb-1 font-weight-bold border-bottom">{{user.firstName}}</li>
    <li class="dropdown-submenu dropdown-item cursor-pointer"
        (click)="this.isShowProfileChange.emit(false);"
        [routerLink]="user.firstName" *ngIf="user.firstName">Main</li>
    <li class="dropdown-submenu dropdown-item cursor-pointer" (click)="this.isShowProfileChange.emit(false);"
        *ngIf="user.role !== 'ROLE_ADMIN'"
        [routerLink]="[user.firstName + '/edit-user/' + user.id ]">Edit user</li>
    <li class="dropdown-submenu dropdown-item bg-danger cursor-pointer"
        *ngIf="user.role !== 'ROLE_ADMIN'"
            (click)="openConfirmationDialog()">Delete user
    </li>
    <li class="dropdown-submenu dropdown-item cursor-pointer" (click)="handleLogout()">Logout</li>
  </ul>
