<div class="cart-item d-flex justify-content-between">
  <div class="d-flex justify-content-between col-4">
    <div>
      <span class="font-weight-bold font-italic">ID: </span> <span class="font">{{order.id}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Date created: </span> <span>{{order.created}}</span>
    </div>
    <div>
      <span class="font-weight-bold">Products: </span> <span>{{order.cartProductListOrder.length}}</span>
    </div>
  </div>

  <div class="d-flex justify-content-around col-2">
    <button class="btn-outline-primary btn" [routerLink]="'full-order/' + order.id">
      Open
    </button>
    <button class="btn-outline-primary btn" (click)="deleteOrder(order.id)">
      Delete
    </button>
  </div>
</div>
