/* You can add global styles to this file, and also import other style files */
.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

/*
Style of Wishlist
*/

.like {
  background-color: unset;
}

.fa-heart{
  color: red;
}

