/* You can add global styles to this file, and also import other style files */
.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

/*
Style of Wishlist
*/

.like {
  background-color: unset;
}

.fa-heart{
  color: red;
}

/*
Style of isPaid
 */

.color-red{
  color: red;
}
.color-green{
  color: green;
}

/*
ScrollBar Settings
 */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
Z-index settings
*/
.z-top{
  z-index: 9999;
}

.z-bottom {
  z-index: 1;
}

/*
Cursor-pointer
*/

.cursor-pointer {
  cursor: pointer;
}

/*
Confirmation dialog settings
*/

.modal {
  top: 90px;
}

/*
Overflow settings
*/

.overflow-x-a {
  overflow-x: auto;
}

@media screen and (max-width: 992px){
  .modal {
    top: 500px;
  }
}

