<div class="container overflow-x-a">

  <h3 class="text-center mt-4 mb-5">Statistics</h3>

  <table *ngIf="role == 'ROLE_SELLER'" class="mat-elevation-z8 p-3">
    <thead>
    <tr>
      <th *ngFor="let data of displayedColumns">{{data}}</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        {{dataSource.quantityOrders}}
      </td>
      <td>
        {{dataSource.sumPriceOrdered | currency }}
      </td>
      <td>
        {{dataSource.numberOfProducts}}
      </td>
      <td>
        {{dataSource.sumPrice | currency}}
      </td>
    </tr>
    </tbody>
  </table>

  <table *ngIf="role == 'ROLE_ADMIN'" class="mat-elevation-z8 p-3">
    <thead>
    <tr>
      <th *ngFor="let data of displayedColumnsAdmin">{{data}}</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        {{dataSource.quantityOrdersAll}}
      </td>
      <td>
        {{dataSource.sumPriceOrderedAll | currency}}
      </td>
      <td>
        {{dataSource.numberOfProductsAll}}
      </td>
      <td>
        {{dataSource.sumPriceAll | currency}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

