<div class="row">
  <div class="col-md-4" *ngFor="let categoryProduct of productsFromDataBase | paginate: config">
    <app-product-item [product]="categoryProduct"
                      [wishListBoolean]="wishlist.indexOf(categoryProduct.id) >= 0"></app-product-item>
  </div>
</div>
<div class="alert alert-info" *ngIf="productsFromDataBase.length == 0">Product from {{subCategory}} category is empty!
</div>
<div *ngIf="productsFromDataBase.length !== 0" class="d-flex justify-content-center">
  <div>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
  <div class="ml-2">
    <form [formGroup]="pageSizeForm">
      <label>
      <select formControlName="pageSize">
        <option *ngFor="let size of pageSizes" [value]="size">
          {{ size }}
        </option>
      </select>
    </label>
    </form>
  </div>
</div>
